<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

登陆
<form action="/userLogin/submit" method="post">
    账号 <input type="text" name="username"/> <hr>
    密码 <input type="password" name="password"/>
    <input type="submit" value="提交">
</form>
<hr>
注册
<form action="/userRegister/submit" method="post">
    账号 <input type="text" name="username"/> <hr>
    密码 <input type="password" name="password"/>
    <input type="submit" value="提交">
</form>
</body>
</html>
